<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="user-email">Email</label>
      <input id="user-email" type="email" name="userEmail" #userEmail="ngModel" ngModel required email />
    </div>

    <div class="control no-margin">
      <label for="user-password">Password</label>
      <input id="user-password" type="password" name="userPassword" #userPassword="ngModel" ngModel required minlength="6" />
    </div>

    <button class="button">Login</button>
  </div>

  @if(userEmail.touched && userEmail.dirty && form.form.invalid) {
    <div> 
      <p class="control-error">Invalid Email </p>
    </div>
  }
  @if(userPassword.touched && userPassword.dirty && form.form.invalid) {
    <div> 
      <p class="control-error">Invalid Password </p>
    </div>
  }
</form>
